[build]
  command = "sed -i'' -e 's|NETLIFY_SUPABASE_URL|'\"$SUPABASE_URL\"'|g; s|NETLIFY_SUPABASE_ANON_KEY|'\"$SUPABASE_ANON_KEY\"'|g' index.html"
  publish = "."

# SPA fallback - serve index.html for all other routes
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
